.StartingPic {
    display: inline-block;
    vertical-align: top;
}

.StartingPic > img {
    width: 200px;
}

.ButtonContainer {

    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}

button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #3498db;
    color: #fff;
}

.moreInfos {
    border-top: 40px;
    float: left;
}

a{
    text-decoration: none;
}

.movieOutcut img{
width: 20%;
}

.LTB img{
    width: 50%;
}



.Schiff{
    width: 50%;
}

div.carousel-item img{
    height: 20rem;
}

.carousel{
    margin-top: 3rem;
    width: 50rem;

}


.carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0.73rem;

}

.carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.5);
    right: 0.73rem;
}


.thirdText{
      color: black;

  }

.firstText{
    color: white;
}

.firstpic{
    filter: brightness(60%);
}

div.carousel-caption > h5{
    font-weight: bold;
}

.secText{
    color: black;
}

.thirdImg{
    filter: brightness(80%);
}

.secPic{
    filter: brightness(80%);
}
