img{
    width: 600px;
    height: auto;
    transition: transform 1s ease-in-out;
}

#familytree{
    text-align: center;
}



img:hover {
    transform: scale(1.31);
}

ul{
    list-style-type: "✘";
}