.picturesofhim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picturesofhim img {
    width: 200px;
    height: 200px;
    margin: 10px;

}

.onepic{
    transition: box-shadow 1s ease;

}

.onepic:hover  {
    box-shadow: 0 0 50px rgba(0, 81, 131, 0.88);
}