

/*

.myCards div div div.card img{
    transition: box-shadow 1s ease;

}

.myCards div div div.card img:hover{
    box-shadow: 0 0 50px rgba(0, 81, 131, 0.88);
}



*/

.myCards div div div.card img:hover{
    animation: rainbowShadow 5s infinite;
    animation-timing-function: ease-in-out;


}


@keyframes rainbowShadow {
    0% {
        box-shadow: 0 0 50px rgba(148, 0, 211, 0.88);
    }
    20% {
        box-shadow: 0 0 50px rgba(75, 0, 130, 0.88);
    }
    40% {
        box-shadow: 0 0 50px rgba(0, 0, 255, 0.88);
    }
    60% {
        box-shadow: 0 0 50px rgba(0, 255, 0, 0.88);
    }
    80% {
        box-shadow: 0 0 50px rgba(255, 255, 0, 0.88);
    }
    90% {
        box-shadow: 0 0 50px rgba(255, 69, 0, 0.88);
    }

    100%{
        box-shadow: 0 0 50px rgba(148, 0, 211, 0.88);
    }
}





@keyframes AppearFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes AppearFromRight{
    from{
        transform: translateX(+100%);
    }
    to{
        transform: translateX(0);
    }
}

div.col-md-6:first-child
{
    animation-name: AppearFromLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

div.col-md-6:nth-child(2)
{
    animation-name: AppearFromRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

